<section class="resume-section px-4 lg:px-12 flex flex-col" id="awards">
  <div class="my-auto">
    <h2 class="mb-12">Awards</h2>

    {% for award in site.data.awards %}
    <div class="resume-item flex flex-col md:flex-row mb-6">
      <div class="mr-auto">
        <div class="resume-header gap-3">
          <img class="resume-img" src="{{ award.img | relative_url }}" alt="">
          <div>
            <h3 class="mb-0">{{ award.title }}</h3>
            <div class="subheading">{{ award.subtitle }}</div>
          </div>
        </div>
      </div>
      <div class="resume-date md:text-right">
        <span class="text-primary">{{ award.date }}</span>
      </div>
    </div>
    {% endfor %}

  </div>
</section>
