<section class="resume-section px-4 lg:px-12 flex flex-col" id="education">
  <div class="my-auto">
    <h2 class="mb-12">Education</h2>

    {% for edu in site.data.education %}
    <div class="resume-item flex flex-col md:flex-row mb-12">
      <div class="mr-auto">
        <div class="resume-header gap-3">
          <img class="resume-img" src="{{ edu.img | relative_url }}" alt="{{ edu.alt }}">
          <div>
            <h3 class="mb-0">{{ edu.institution }}</h3>
            <div class="subheading mb-4">{{ edu.degree }}</div>
          </div>
        </div>
        <ul class="list-disc ml-6">
          {% for bullet in edu.bullets %}
          <li>{{ bullet }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="resume-date md:text-right">
        <span class="text-primary">{{ edu.dates }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
