<section class="resume-section px-4 lg:px-12 flex flex-col" id="education">
  <div class="my-auto">
    <h2 class="mb-12">Education</h2>

    {% for edu in site.data.education %}
    <div class="resume-item flex flex-col md:flex-row mb-12">
      <div class="mr-auto">
        <img class="resume-img mr-2" src="{{ edu.img | relative_url }}" alt="">
        <h3 class="mb-0">{{ edu.institution }}</h3>
        <div class="subheading mb-4">{{ edu.degree }}</div>
        <ul>
          {% for bullet in edu.bullets %}
          <li>{{ bullet }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="resume-date md:text-right">
        <span class="text-primary">{{ edu.dates }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
