<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto">
    <h2 class="mb-5">Experience</h2>

    {% for job in site.data.experience %}
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <img class="img-responsive mr-2 resume-img" src="{{ job.img | relative_url }}" alt="">
        <h3 class="mb-0">{{ job.title }}</h3>
        <div class="subheading mb-3">{{ job.company }}</div>
        <ul>
          {% for bullet in job.bullets %}
          <li>{{ bullet }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{ job.dates }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
