<section class="resume-section px-4 lg:px-12 flex flex-col" id="experience">
  <div class="my-auto">
    <h2 class="mb-12">Experience</h2>

    {% for job in site.data.experience %}
    <div class="resume-item flex flex-col md:flex-row mb-12">
      <div class="mr-auto">
        <div class="resume-header gap-3">
          <img class="resume-img" src="{{ job.img | relative_url }}" alt="">
          <div>
            <h3 class="mb-0">{{ job.title }}</h3>
            <div class="subheading mb-4">{{ job.company }}</div>
          </div>
        </div>
        <ul class="list-disc ml-6">
          {% for bullet in job.bullets %}
          <li>{{ bullet }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="resume-date md:text-right">
        <span class="text-primary">{{ job.dates }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
