<section class="resume-section px-4 lg:px-12 flex flex-col" id="projects">
  <div class="my-auto">
    <h2 class="mb-12">Projects</h2>

    {% for project in site.data.projects %}
    <div class="resume-item flex flex-col md:flex-row mb-12">
      <div class="mr-auto">
        <div class="resume-header gap-3">
          <img class="resume-img" src="{{ project.img | relative_url }}" alt="{{ project.alt }}">
          <div>
            <h3 class="mb-0">{{ project.name }}</h3>
            <div class="subheading mb-4">
              {% for link in project.links %}{% if forloop.index > 1 %} &middot; {% endif %}<a target="_blank" href="{{ link.url }}">{{ link.label }}</a>{% endfor %}
            </div>
          </div>
        </div>
        <p>
          {{ project.description }}
        </p>
      </div>
      <div class="resume-date md:text-right">
        <span class="text-primary">{{ project.dates }}</span>
      </div>
    </div>
    {% endfor %}
</section>
