<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ '/assets/vendor/bootstrap/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

  <!-- Custom fonts -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="{{ '/assets/vendor/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/vendor/devicons/css/devicons.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/vendor/simple-line-icons/css/simple-line-icons.css' | relative_url }}" rel="stylesheet">

  <!-- Custom styles -->
  <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
</head>

<body id="page-top">

  {{ content }}

  <!-- Bootstrap core JavaScript -->
  <script src="{{ '/assets/vendor/jquery/jquery.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | relative_url }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ '/assets/vendor/jquery-easing/jquery.easing.min.js' | relative_url }}"></script>

  <!-- Custom scripts -->
  <script src="{{ '/assets/js/resume.min.js' | relative_url }}"></script>

</body>

</html>
